$font-stack: "Fredoka one", "Avenir", sans-serif;
$primary-color: #1C5AF5;
$second-color: black;
$tert-color: white;
$card-text-color: lightgrey;

body {
    background-color: rgb(251, 247, 253);
}

.Card {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    position: middle;
    width: 50%;
    min-height: 30%;
    text-align: center;
    background-color: $tert-color;

    border-style: hidden;
    border-radius: 25px;

    font-family: $font-stack;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);

}