$font-stack: Fredoka one, Avenir;
$primary-color: #1C5AF5;
$second-color: black;
$tert-color: white;
$card-text-color: grey;

body {
    background-color: lightgrey;
}

.Card {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    background-color: $tert-color;

    border-style: hidden;
    border-radius: 50px;



}